<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>

    <div class="homepage">
<h1>Ben and Josh's Excellent Database</h1>
<div class="outer-box">


  {{{body}}}

</div>
</div>
  </body>
</html>
