
<form action="http://localhost:3000/getdata" method="get">
  <button>Display All Data</button>
</form>

<form action="http://localhost:3000/searchFirstName" method="post">
  <input name="last" value="">
  <button>Search by last name</button>
</form>

<form action="http://localhost:3000/addData" method="post">
  <input name="firstName" value="First Name">
  <input name="lastName" value="Last Name">
  <input name="username" value="Username">
  <button>Add new record</button>
</form>

<form action="http://localhost:3000/joinQuery" method="post">
  <input name="ID" value="">
  <button>Join Query by ID</button>
</form>

<form action="http://localhost:3000/tripleSearch" method="post">
  <input name="ID" value="">
  <button>Get pet details by user ID</button>
</form>
