
<form action="http://localhost:3000/getdata" method="get">
    <button>Get Data</button>
  </form>


  <form action="http://localhost:3000/searchFirstName" method="post">
      <input name="last" value="Drydan">
      <button>Search by first name</button>
    </form>
