<h4>Join Query Results</h4>

<table border="1">
  <tr>
    <td>
      ID:
    </td>
    <td>
      First Name:
    </td>
    <td>
      Last Name:
    </td>
    <td>
      Username:
    </td>
  </tr>
  {{#each people}}
  <tr>
    <td>
      {{id}}
    </td>
    <td>
      {{firstName}}
    </td>
    <td>
      {{nickName}}
    </td>
    <td>
      {{lucky_number}}
    </td>
  </tr>
  {{/each}}
</table>

<form action="http://localhost:3000/" method="get">
    <button>Home</button>
</form>
